h1 {margin-left: 50px;
}

h2 {
  color: #f71911;
  margin-left: 100px;

}

h3 {
  color: rgb(51, 8, 245);
}

body {
    padding: 10;
   
    margin-left: 10 px;
    margin-right: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: rgb(48, 40, 40);
    background: #f1e68e;
  }

img {
  box-shadow: 10px 10px 5px black;
  background: rgb(169, 169, 169);
  height: 275px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  position: center;
}

section {
  background-color: rgb(195, 202, 179);
  padding-top: 0px;
  padding-bottom: 1px
}

p {
  font-size: 24px;
  color: #0f0101;
  margin-left: 100px;
  margin-right: 200px;
}

ul {
  border-style: solid;
  color: rgb(34, 16, 134);
  width: 770px;
}
    

#contact-info {
    width: 30%;
  }
  .box {
    height: 400px;
    padding: 20px;
    color: #fff;
    background: deepskyblue;
  }
  
  .margin-top-80 {
    margin-top: 80px;
  }
  .margin-left-100 {
    margin-left: 100px;
  }
  .spacer {
    padding-top: 10px;
    padding-bottom: 10px
}
.spacerbig {
  padding-top: 100px;
  padding-bottom: 100px
}
.container {
  width: 1000px;
  margin: 0 auto;
}